@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black: rgba(15, 15, 15, 1);
  --body-text-font-family: "Recursive", Helvetica;
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-letter-spacing: 0.16px;
  --body-text-line-height: 120.00000476837158%;
  --description-text-font-family: "Recursive", Helvetica;
  --description-text-font-size: 10px;
  --description-text-font-style: normal;
  --description-text-font-weight: 400;
  --description-text-letter-spacing: 0.2px;
  --description-text-line-height: 120.00000476837158%;
  --heading-1-font-family: "Recursive", Helvetica;
  --heading-1-font-size: 61px;
  --heading-1-font-style: normal;
  --heading-1-font-weight: 800;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 120.00000476837158%;
  --heading-2-font-family: "Recursive", Helvetica;
  --heading-2-font-size: 49px;
  --heading-2-font-style: normal;
  --heading-2-font-weight: 700;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 120.00000476837158%;
  --heading-3-font-family: "Recursive", Helvetica;
  --heading-3-font-size: 39px;
  --heading-3-font-style: normal;
  --heading-3-font-weight: 700;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 120.00000476837158%;
  --heading-4-font-family: "Recursive", Helvetica;
  --heading-4-font-size: 25px;
  --heading-4-font-style: normal;
  --heading-4-font-weight: 700;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 120.00000476837158%;
  --white: rgba(242, 242, 242, 1);
  --yellow: rgba(255, 189, 0, 1);
}
