
.header-img {
    
    margin-top: 40px;
    background: url("../assets/imagenHome1.png")no-repeat center center;
    /* width: 100%; */
    height: 917px ;
    width: calc(100% - 64px); /* 32px a cada lado */
    flex-shrink: 0;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 32px;
    margin-right: 32px;
    /* background-position-y:-10px;
    background-position-x: center; */
    position: relative;
    /* transition: background-position-y 0.5s ease; */
  }
  
  .label .ALCANZA-TU-MEJOR {
    color: transparent;
    font-family: "Recursive-ExtraBold", Helvetica;
    font-size: 95px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 95px;
    position: absolute;
    width: 733px;
  }
  
  .label .text-wrapper {
    color: #000000;
    font-weight: 800;
  }
  
  .label .span {
    color: #ffbd00;
    font-family: "Recursive-Black", Helvetica;
    font-weight: 900;
  }

  
  .label1 .text-wrapper1 {
    color: #2d2d2d;
    font-family: "Recursive-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 53px;
    left: 0;
    letter-spacing: 0.25px;
    line-height: 37.5px;
    position: absolute;
    top:400px;
    max-width: 637px;
  }


  
  .box1 .rectangle {
    background-color: var(--yellow);
    border-radius: 46px;
    height: 60px;
    left: 0;
    position: absolute;
    left: 0;
    top:500px;
    width: 332px;
  }
  .text-wrapper2{
    color:var(--black);
    font-family: "Recursive-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 16px;
    letter-spacing: -0.48px;
    line-height: 28.8px;
    position: relative;
    display: inline-block;
   
  }
  .Primary{
    margin: 2px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
  }

  .section-pasion-deporte{
    margin-top: 55px;
    width: calc(100% - 64px);
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
  }

  .section-pasion-deporte h1{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    color:var(--black);
    text-align: center;
    font-family: Recursive;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  
  .section-pasion-deporte p{
    display: inline-block;
    width: 100%;
    margin-bottom: 55px;
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Recursive;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 15.6px */
    letter-spacing: 0.13px;

  }
  .section-pasion-deporte .container{
    width: 100%;
    align-self: center;
    display: flex;
    gap: 24px;
  }
  .section-pasion-deporte .container .container-accordion{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .section-pasion-deporte .container img{
    width: 50%;
    height: 616px;
  }

  .section-pasion-deporte .Planes-card{
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    width: 1312px;
    align-self: center;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    overscroll-behavior-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: lightgray white; /* Firefox */
    scroll-behavior: smooth;
    cursor:all-scroll;
  }
  .section-pasion-deporte .Planes-card::-webkit-scrollbar {
    height: 6px; /* Altura de la barra de desplazamiento horizontal */
}

  .section-pasion-deporte .Planes-card::-webkit-scrollbar-track {
      background: white; /* Color de fondo de la pista */
  }

  .section-pasion-deporte .Planes-card::-webkit-scrollbar-thumb {
      background-color: lightgray; /* Color del pulgar (la parte que se mueve) */
      border-radius: 10px; /* Bordes redondeados del pulgar */
  }
  .section-pasion-deporte .Planes-card--swiper {
    display: none ;
  }
  
  .section-pasion-deporte .swiper {
    display: none ;
  }

  .card-planes-home{
    width: 424px;
    min-width: 420px;
    cursor:all-scroll;
   
  }
  #propositos{
    margin-bottom: 5px;
  
  }

  @media screen and (max-width: 1324px) {
    .section-pasion-deporte .Planes-card{
      display: none;
    }
    .section-pasion-deporte .Planes-card--swiper {
      display: flex ;
      width: 424px;
    }
    
    .section-pasion-deporte .swiper {
      display: flex ;
    }
  }
  @media screen and (max-width: 1024px) {
   
    .header-img {
      height: 600px;
    }
  
    .label .ALCANZA-TU-MEJOR {
      height: 400px;
      font-size: 65px;
      max-width: 300px;
      min-width: 200px;
      height: 650px;
    }

    .label1 .text-wrapper1 {
      width: auto;
      font-size: 25px;
      
    }
    .box1 .rectangle {
      top: 530px;
    }
    .section-pasion-deporte h1{
      font-size: 48px;
    }
    .section-pasion-deporte p{
      font-size: 26px;
    }

    .section-pasion-deporte .container img{
    width: 50%;
    height: 616px;
  }
  #propositos{
  
    margin-bottom: 5px;
  }
      
  
  }


  @media screen and (max-width:630px) {
    .section-pasion-deporte .Planes-card--swiper {
      display: flex ;
      width: 250px;
    }
    .header-img {
      height: 900px;
      background-position-y:-50px;
      background-position-x:60%;
    }
    

    .label .ALCANZA-TU-MEJOR {
      width: 100%;
      height: fit-content;
      top:10%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 40px;
      font-style: normal;
      line-height: 107%;
    }
    
    .label .text-wrapper {
     
      line-height: 20px;
    }
    
    .label .span {
    
      line-height: 15px;
    }

    .label1 .text-wrapper1 {
      width: 100%;
      top:20%;
      text-align: center;
      font-size: 20px;
      
    }
    .box1 .rectangle {
      top:40%;
      width: 100%;
    }

    .section-pasion-deporte h1{
      font-size: 24px;
    }
    .section-pasion-deporte p{
      font-size: 13px;
    }
    .section-pasion-deporte .container{
      width: 100%;
      flex-direction: column;
    }
    .section-pasion-deporte .container .container-accordion{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .section-pasion-deporte .container img{
      width: 100%;
      height: auto;
    }
    #propositos{
      margin-bottom: 5px;
    }
  

  }

  @media screen and (max-width:425px) {
   
  
    .label .ALCANZA-TU-MEJOR {
   
      font-size: 25px;
      
    }

    .label1 .text-wrapper1 {
      width: 100%;
      top:20%;
      text-align: center;
      font-size: 15px;
      
    }
    .box1 .rectangle {
      top:40%;
      height: 30px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }
    .text-wrapper2{
   
      font-size: 12px;
      font-weight: 400;
      height: 16px;
     
    }
    .Primary{
        position: relative;
        margin: 0;
        margin-left: 5px;
        top:10%;
        width: 12px;
        height: 12px;

    }
    #propositos{
      margin-bottom: 5px;
    }
  }
  @media screen and (max-width:377px) {
    .section-pasion-deporte .Planes-card--swiper {
      display: flex ;
      width: 200px;
    }

  }
  
 
  