.header-img {
    
    margin-top: 40px;
    width: 100%;
    height: 400px;
    background: -webkit-linear-gradient(to top, hsla(135, 90%, 36%, 0), hsla(135, 90%, 36%, 0)),url("../assets/imgHome.jpg");; /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, hsla(135, 90%, 36%, 0), hsla(135, 90%, 36%, 0)),url("../assets/imgHome.jpg");; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position-y:-10px;
    background-position-x: center;
    position: relative;
    transition: background-position-y 0.5s ease;
  }
  .header-img:hover{
    transition: background-position-y 0.5s ease;
    background-position-y:-60px ;
  }
  .textos-header {
    background-color: transparent;
    position: absolute;
    margin-top: 50px;
    margin-left: 60px;
    transition: font-size 0.3s ease;
    
  }
  .textos-header h1{
    background-color: transparent;
    transition: font-size 0.3s ease;
  }
  .wave1 {
    background-color: transparent;
    position: absolute;
    bottom: -1px;
    width: 100%;
  }
  .wave1 svg{
    background-color: transparent;
  }
  .wave1 path{
    background-color: transparent;
  }
/* Estilos para pantallas menores a 445px */
  @media screen and (max-width: 1024px) {
    .textos-header {
      background-color: transparent;
      position: absolute;
      margin-top: 100px ;
      margin-left: 100px;
      transition: all 0.3s ease;

      
    }
    .textos-header h1{
      font-size: 15px;
      transition: font-size 0.3s ease;
    }
  
  }
  /* Estilos para pantallas menores a 445px */
  @media screen and (max-width: 445px) {
    .textos-header {
      background-color: transparent;
      position: absolute;
      margin-top: 100px ;
      margin-left: 8px;
      transition: all 0.3s ease;

      
    }
    .textos-header h1{
      font-size: 15px;
      transition: font-size 0.3s ease;
    }
  
  }