
.header-img {
    
    margin-top: 40px;
    background: url("../assets/imagenHome1.png")no-repeat center center;
    /* width: 100%; */
    height: 917px ;
    width: calc(100% - 64px); /* 32px a cada lado */
    flex-shrink: 0;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 32px;
    margin-right: 32px;
    /* background-position-y:-10px;
    background-position-x: center; */
    position: relative;
    /* transition: background-position-y 0.5s ease; */
  }
  /* .header-img:hover{
    transition: background-position-y 0.5s ease;
    background-position-y:-60px ;
  } */
  
  /* .label {
    height: 160px;
    width: 733px;
  } */
  
  .label .ALCANZA-TU-MEJOR {
    color: transparent;
    font-family: "Recursive-ExtraBold", Helvetica;
    font-size: 95px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 95px;
    position: absolute;
    width: 733px;
  }
  
  .label .text-wrapper {
    color: #000000;
    font-weight: 800;
  }
  
  .label .span {
    color: #ffbd00;
    font-family: "Recursive-Black", Helvetica;
    font-weight: 900;
  }

  
  .label1 .text-wrapper1 {
    color: #2d2d2d;
    font-family: "Recursive-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 53px;
    left: 0;
    letter-spacing: 0.25px;
    line-height: 37.5px;
    position: absolute;
    top:400px;
    max-width: 637px;
  }

  /* .box1 {
    height: 60px;
    width:100%;
  } */
  
  .box1 .rectangle {
    background-color: var(--yellow);
    border-radius: 46px;
    height: 60px;
    left: 0;
    position: absolute;
    left: 0;
    top:500px;
    width: 332px;
  }
  .text-wrapper2{
    color: #000000;
    font-family: "Recursive-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 16px;
    letter-spacing: -0.48px;
    line-height: 28.8px;
    position: relative;
    display: inline-block;
   
  }
  .Primary{
    margin: 2px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
  }
  .container-titulos{
    display: flex;
    width: 892px;
    height: 34px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 71px;
  }
  .tiulo-sevicios{
    color: #000;
    text-align: center;
    font-family: Recursive;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 58.8px */
    letter-spacing: -1.47px;
  }
  .subtitulo-servicios{
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Recursive;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 30px */
    letter-spacing: 0.25px;
  }

  .container-servicios{
    display:flex;
    flex-wrap: wrap;
    margin-top: 77px;
    margin-left: 32px;
    margin-right: 32px;
    height: auto;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .e-personal{
    background: url("../assets/servicios1.png") lightgray 50% / cover no-repeat;
    border-radius: 20px;
    height: 548px;
    max-width: 500px;
    box-sizing: border-box;
  }

  .e-personal h1 {
    margin-top: 450px;
    margin-left: 15px;
    margin-right: 20px;
    color: var(--White, #F2F2F2);
    font-family: Recursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }
  
  .e-personal h2 {
    margin-left: 15px;
    margin-right: 50px;
    color: var(--White, #F2F2F2);
    font-family: Recursive;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.16px;
  }
  
  .e-personal1{
    background: url("../assets/servicios2.png") lightgray 50% / cover no-repeat;
    background-position-y:-10px;
    border-radius: 20px;
    height: 548px;
    max-width: 500px;
    box-sizing: border-box;
  }

  .e-personal1 h1 {
    margin-top: 450px;
    margin-left: 15px;
    margin-right: 20px;
    color: var(--White, #F2F2F2);
    font-family: Recursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }
  
  .e-personal1 h2 {
    margin-left: 15px;
    margin-right: 50px;
    color: var(--White, #F2F2F2);
    font-family: Recursive;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.16px;
  }
  

/* aca no */
  

  @media screen and (max-width: 1024px) {
   
    .header-img {
      height: 600px;
    }
  
    .label .ALCANZA-TU-MEJOR {
      height: 400px;
      font-size: 65px;
      max-width: 300px;
      min-width: 200px;
      height: 650px;
    }

    .label1 .text-wrapper1 {
      width: auto;
      font-size: 25px;
      
    }
    .box1 .rectangle {
      top: 530px;
    }
  
    .container-titulos{
      display: flex;
      width: calc(100% - 64px); ;
      height: 34px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      margin-top: 15px;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 71px;
    }

    .e-personal h1 {
    margin-top: 450px;
    margin-left: 15px;
    margin-right: 20px;
    color: var(--White, #F2F2F2);
    font-family: Recursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }

  .e-personal1 h1 {
    margin-top: 450px;
    margin-left: 15px;
    margin-right: 20px;
    color: var(--White, #F2F2F2);
    font-family: Recursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }
  
  
  
  }


  @media screen and (max-width:600px) {

    .label .ALCANZA-TU-MEJOR {
      width: 300px;
      top:30px;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 107%;
    }
    
    .label .text-wrapper {
      color: #000000;
      font-weight: 800;
      line-height: 114px;
    }
    
    .label .span {
      color: #ffbd00;
      font-family: "Recursive-Black", Helvetica;
      font-weight: 900;
      line-height: 90.2px;
    }
  
 
    
    .label1 .text-wrapper1 {
      color: #2d2d2d;
      font-family: "Recursive-Regular", Helvetica;
      font-size: 25px;
      font-weight: 400;
      height: 53px;
      left: 0;
      letter-spacing: 0.25px;
      line-height: 37.5px;
      position: absolute;
      margin-top: 270px;
      width: auto;
    }
  
    .box1 {
      height: 60px;
      width: auto;
    }
    
    .box1 .rectangle {
      background-color: var(--yellow);
      border-radius: 46px;
      height: 60px;
      left: 0;
      position: relative;
      margin-top: 450px ;
      width: 200px;
    }
    .text-wrapper2{
      color: #000000;
      font-family: "Recursive-Regular", Helvetica;
      font-size: 24px;
      font-weight: 400;
      height: 16px;
      letter-spacing: -0.48px;
      line-height: 28.8px;
      position: relative;
      display: inline-block;
     
    }
    .Primary{
      margin: 2px;
      margin-left: 10px;
      display: inline-block;
      position: relative;
    }
        
    .container-titulos{
      display: flex;
      width: calc(100% - 64px); ;
      height: 300px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      margin-top: 15px;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 71px;
    }
    .e-personal1 h1 {
      margin-top:300px;
      margin-left: 15px;
      margin-right: 20px;
      color: var(--White, #F2F2F2);
      font-family: Recursive;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 28.8px */
      letter-spacing: 0.24px;
      text-transform: uppercase;
    }
    
    .e-personal1 h2 {
      margin-left: 15px;
      margin-right: 50px;
      color: var(--White, #F2F2F2);
      font-family: Recursive;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 19.2px */
      letter-spacing: 0.16px;
    }
    .e-personal h1 {
      margin-top: 300px;
      margin-left: 15px;
      margin-right: 20px;
      color: var(--White, #F2F2F2);
      font-family: Recursive;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 28.8px */
      letter-spacing: 0.24px;
      text-transform: uppercase;
    }
    
    .e-personal h2 {
      margin-left: 15px;
      margin-right: 50px;
      color: var(--White, #F2F2F2);
      font-family: Recursive;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 19.2px */
      letter-spacing: 0.16px;
    }

  }

  
 
  