.titulo-entreno{
    color: #000;
    font-family: Recursive;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; 
    margin-bottom: 49px;

}

.titulo-amarillo{
    color:  #FFBD00;
}