.titulo-entreno{
    font-family: Recursive;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; 
    margin-bottom: 49px;
    margin-left: 32px;

}
.containerder{
    min-width: 589px;

}

.titulo-amarillo{
    color:  #FFBD00;
}

.flex-area-1-content{
    width: 50%;
    margin-right: 32px;
}
.flex-titulo-area-1 {
  

    /* Heading 4 */
    font-family: Recursive;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 30px */
}
.titulo-area-1 {
    

    /* Heading 4 */
    font-family: Recursive;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 30px */
}
.content-area-1{
  

    text-align: justify;
    font-family: Recursive;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 37.5px */
    letter-spacing: 0.25px;
}

.flex-content-area-1{
    

    text-align: justify;
    font-family: Recursive;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 37.5px */
    letter-spacing: 0.25px;
}
@media screen and (max-width:1400px) {
    .containerder{
        min-width: 100px;
    
    }
    .sectionizq{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 950px) {

    .titulo-entreno{
        font-size: 42px;    
    }

}

@media screen and (max-width: 520px) {

  .flex-area-1{
    flex-wrap: wrap;
    /* justify-items: center;
    justify-content: center; */
  }
  .flex-area-1-content{
    width: 100%;
    margin-right: 32px;
}

  .flex-titulo-area-1 {
 
    font-size: 25px;
    
}
.titulo-area-1 {
 
    font-size: 25px;
  
}
.content-area-1{
   
    font-size: 10px;
   
}

.flex-content-area-1{
   
    font-size: 10px;
    
}

  

}
