.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    border: solid black 3px;
  }
  
  .carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    border: solid red;
  }
  
  .carousel-slide {
    display: flex;
    width: 100%;
    border: solid yellow;
    gap: 60px;

  }
  
  .slide {
    display: flex;
    min-width: 100%;
    box-sizing: border-box;
    border: blue solid 2px;
  }
  
  .slide-left,
  .slide-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .slide-left img {
    width: 90%;
    height: 600px;
    padding: 20px;
  }
  
  .slide-right {
    padding: 20px;
    height: 600px;

  }
  
  .bottom-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
    height:200px;
 
  }
  
 .button-prev{
  margin: 10px;
 }

 .button-next{
  margin: 10px;
 }

 .container-text-right{
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container-text-right > h2{
  text-align: center;
  width: 100%;
}
.container-text-right > p{
  text-align:left;
  width: 100%;
}